name: ci.style

on:
  push:
    branches: ['dev']
  pull_request:
    branches: ['dev']

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22.4.x

      - name: Install dependencies
        run: npm install ; npm ci

      - name: Run Prettier
        run: npm run format:check

      - name: Run Eslint
        run: npm run lint

      - name: Run Build
        run: npm run build
